In [1]:
import pandas as pd 
from bs4 import BeautifulSoup
import selenium 
from selenium import webdriver 
import time 
import requests 
import re 
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException  
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
driver = webdriver.Chrome(r"C:\Users\sudes\Downloads\chromedriver_win32 (1)\chromedriver.exe")

C:\Users\sudes\AppData\Local\Temp/ipykernel_7116/179820662.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\sudes\Downloads\chromedriver_win32 (1)\chromedriver.exe")

# Question 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

    You need to find following details:
    A) Rank
    B) Name
    C) Artist
    D) Upload date
    E) Views

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

In [5]:
try: 
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"): 
        Rank.append(i.text)
except NoSuchElementException: 
    Rank.append("__")

In [6]:
try: 
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"): 
        Name.append(i.text)
except NoSuchElementException: 
    Name.append("__")

In [7]:
try: 
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"): 
        Artist.append(i.text)
except NoSuchElementException: 
    Artist.append("__")

In [8]:
try: 
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"): 
        Upload_Date.append(i.text)
except NoSuchElementException: 
    Upload_Date.append("__")

In [9]:
try: 
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"): 
        Views.append(i.text)
except NoSuchElementException: 
    Views.append("__")

In [10]:
Wikidata = pd.DataFrame()
Wikidata['Rank'] = Rank[0:30] 
Wikidata['Name']=Name[0:30]
Wikidata['Artist']=Artist[0:30]
Wikidata['Upload Date']=Upload_Date[0:30]
Wikidata['Views']=Views[0:30]

In [11]:
Wikidata

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.58,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.99,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.50,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.83,"January 30, 2017"
4,5.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,5.68,"May 2, 2018"
5,6.,"""See You Again""[16]",Wiz Khalifa,5.68,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.96,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.73,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.69,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.58,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.50,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.11,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.77,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.67,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.67,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.60,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.56,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.51,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.41,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.37,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.36,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.34,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.32,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.29,"April 11, 2014"
25,26.,"""Perfect""[44]",Ed Sheeran,3.28,"November 9, 2017"
26,27.,"""Lean On""[45]",Major Lazer,3.28,"March 22, 2015"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.27,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.22,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.19,"January 26, 2018"

# Question 2: Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

        You need to find following details:
        A) Match title (I.e. 1st ODI)
        B) Series
        C) Place
        D) Date
        E) Time
        Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
driver.get("https://www.bcci.tv/")

In [13]:
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') 
International.click()

In [14]:
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [15]:
for i in driver.find_elements(By.XPATH, "//strong[@class='fixture__name fixture__name--with-margin']"): 
    Match_Title.append(i.text)

In [16]:
for i in driver.find_elements(By.XPATH,"//p[@class='fixture__additional-info']//span"): 
    Place.append(i.text)

In [17]:
try:
    series = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[2]/section[3]/div/ul/li[1]/span[2]")
    Series.append(series.text)
except NoSuchElementException:
    Series.append('-')

In [18]:
try:
    date = driver.find_element(By.XPATH,"//div[@class='mc-header-scorebox__datetime']//strong")
    Date.append(date.text)
except NoSuchElementException:
    Date.append('__')

In [19]:
try:
    times = driver.find_element(By.XPATH,"//span[@class='mc-header-scorebox__ist-time']")
    Time.append(times.text)
except NoSuchElementException:
    Time.append('-')

In [20]:
date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

In [21]:
fix=pd.DataFrame({})
fix['Match Title'] = Match_Title
fix['Series'] = Series
fix['Date'] = Date
fix['Time']= Time
fix

   Match Title Series Date Time
0          NaN      -   __   __

# Question 3. Scrape the details of selenium exception from guru99.com.
        Url = https://www.guru99.com/
        You need to find following details:
        A) Name
        B) Description
        Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [22]:
driver.get('https://www.guru99.com/')

In [23]:
Name = []
Description = []

In [26]:
driver.find_element(By.XPATH,"//li//a[@title='Selenium']").click()
driver.find_element(By.XPATH,'//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [27]:
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]"):
            Name.append(i.text)

#Scraping Description
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]"):
            Description.append(i.text)

In [28]:
Selenium=pd.DataFrame({})
Selenium['Exception_Name']=Name
Selenium['Description']=Description
Selenium

Empty DataFrame
Columns: [Exception_Name, Description]
Index: []

# Question 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

    You have to find following details:
    A) Rank
    B) State
    C) GSDP(18-19)
    D) GSDP(17-18)
    E) Share(2017)
    F) GDP($ billion)
    Note: - From statisticstimes home page you have to reach to economy page through code.

In [29]:
driver.get("http://statisticstimes.com/")

In [30]:
economy = driver.find_element(By.XPATH,"//div[@class='navbar']//div[2]//button").click()
urls = driver.find_element(By.XPATH,"//div[@class='dropdown-content']//a[3]")
ineco_page = urls.get_attribute("href")
driver.get(ineco_page)  
time.sleep(5)

In [31]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [32]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [33]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [34]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [35]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [36]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [37]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [38]:
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share(18-19)'] = Share
GDP[' GDP($ billion)'] = GDP_billion
GDP

Empty DataFrame
Columns: [Rank, State, GSDP at current price (19-20), GSDP at current price (18-19), Share(18-19),  GDP($ billion)]
Index: []

# Question 5. Scrape the details of trending repositories on Github.com.
  
        Url = https://github.com/
        You have to find the following details:
        A) Repository title
        B) Repository description
        C) Contributors count
        D) Language used
        Note: - From the home page you have to click on the trending option from Explore menu through code.

In [39]:
driver.get("https://github.com/")

In [49]:
explore = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

In [50]:
driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a").click()

In [51]:
URLs = []
Repository_title = []
Description = []
Contributors = []
Language = []

In [52]:
Repository = driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']//a")
for i in Repository:
    URLs.append(i.get_attribute("href"))

In [54]:
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    Repository_title.append(i.text)

In [56]:
try:
    desc = driver.find_element(By.XPATH,"//p[@class='f4 mt-3']")
    Description.append(desc.text)
except NoSuchElementException:
    Description.append('-')

In [57]:
try: 
    contributer = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
    Contributors.append(contributer.text.replace('Contributoers',''))
except NoSuchElementException: 
    Contributors.append("_")

In [59]:
lang = []
try: 
    for i in driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]"): 
        lang.append(i.text)
    Language.append(lang)
except NoSuchElementException: 
    Language.append("_")

In [62]:
GB = pd.DataFrame({})
GB['Repository Title'] = Repository_title[0:1]
GB['Repository Description'] = Description[0:1]
GB['Contributors Count'] = Contributors[0:1]
GB['Language Used'] = Language[0:1]
GB

,Repository Title,Repository Description,Contributors Count,Language Used
0,charmbracelet / vhs,-,_,"[TypeScript, JavaScript, Shell, CSS]"

# Question 6. Scrape the details of top 100 songs on billboard.com.
     Url = https://www.billboard.com/
     You have to find the following details:
     A) Song name
     B) Artist name
     C) Last week rank
     D) Peak rank
     E) Weeks on board
      Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [63]:
driver.get("https://www.billboard.com/")

In [65]:
driver.find_element(By.XPATH,'//*[@id="mega-menu-item-charts"]/a').click()

In [67]:
driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[3]/div/nav/ul/li[1]/a').click()

In [68]:
Songname = []
Artistname = []
Lastweekrank = []
Peakrank = []
Weeksonboard = []

In [78]:
try: 
    for i in driver.find_elements(By.XPATH,"//span[@class='chart-element__information__song text--truncate color--primary']"): 
        Songname.append(i.text)
except NoSuchElementException: 
    Songname.append("_")

In [79]:
try: 
    for i in driver.find_elements(By.XPATH,"//span[@class='chart-element__information__artist text--truncate color--secondary']"): 
        Artistname.append(i.text)
except NoSuchElementException: 
    Artistname.append("_")

In [80]:
try: 
    for i in driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--last']"): 
        Lastweekrank.append(i.text)
except NoSuchElementException: 
    Lastweekrank.append("_")

In [81]:
try: 
    for i in driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--peak']"): 
        Peakrank.append(i.text)
except NoSuchElementException: 
    Peakrank.append("_")

In [82]:
try: 
    for i in driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--week']"): 
        Weeksonboard.append(i.text)
except NoSuchElementException: 
    Weeksonboard.append("_")

In [84]:
Hot100Songs = pd.DataFrame({})
Hot100Songs['Songs name'] = Songname[0:1]
Hot100Songs['Artist name'] = Artistname[0:1]
Hot100Songs['Last week rank'] = Lastweekrank[0:1]
Hot100Songs['Peak rank'] = Peakrank[0:1]
Hot100Songs['Weeks on board']  = Weeksonboard[0:1]

In [85]:
Hot100Songs

  Songs name             Artist name Last week rank Peak rank Weeks on board
0             Sam Smith & Kim Petras              2         1              4

# Question 7. Scrape the details of Data science recruiters from naukri.com.
  
      Url = https://www.naukri.com/
      You have to find the following details:
      A) Name
      B) Designation
      C) Company
      D) Skills they hire for
      E) Location
        Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [86]:
driver.get("https://www.naukri.com/")

# Question 8. Scrape the details of Highest selling novels.
      Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
      You have to find the following details:
      A) Book name
      B) Author name
      C) Volumes sold
      D) Publisher
      E) Genre

In [90]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [91]:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
    Book_name.append(i.text)

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(3)

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
    Publisher.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
    Genre.append(i.text)    

Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 9. Scrape the details most watched tv series of all time from imdb.com.
      Url = https://www.imdb.com/list/ls095964455/
      You have to find the following details:
      A) Name
      B) Year span
      C) Genre
      D) Run time
      E) Ratings
      F) Votes

In [92]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [93]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text) 
    
TV_Series = pd.DataFrame({})
TV_Series['Name'] = Name
TV_Series['Year Span'] = Year_span
TV_Series['Genre'] = Genre
TV_Series['Run Time'] = Run_time
TV_Series['Ratings'] = Ratings
TV_Series['Votes'] = Votes
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,075,111"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,165,948"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"977,885"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"291,186"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"250,317"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,905"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,012"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"196,389"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,366"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"241,795"